.create-account{
    padding-top: 85px;
    padding-bottom: 85px;
    background-image: url("../images/Frame\ 40.png");
    display: flex;
    justify-content: center;
    color: whitesmoke;
}
.create-container{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 max-width: 500px;   
}

.create-account-text{
    font-family: 'Source Sans Pro';
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 21px;  
    height: 48px;
    width: 453px;
    margin-top: 10px;
    margin-bottom: 33px;
}
.join{
    height: 53px;
    width: 117px;
    font-weight: 700;
    background-color: white;
    outline: none;
    border: none;
    font-size: large;
    color:#000 ;
}
.join:hover{
    background-color: transparent;
    border: 2px solid#fff;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.create-heading{
font-family: 'Source Serif Pro';
font-size: 36px;
font-weight: 600;
color: rgba(255, 255, 255, 1);
text-align: center;
height: 66px;
width: 618px;
}