.carwash{
    height: 100vh;
    background-color: rgb(217, 241, 248);
    padding: 20px;
}

.carwash-heading{
    color: rgb(0, 0, 0);
    font-size: 4em;
    letter-spacing: 0px;
    line-height: 1em;
    font-family: Arial;
    text-align: center;
    margin-bottom: 40px;
}

.text-container-white{
    background-color: white;
    height: 250px;
    width: 250px;
    padding: 10px;
}
p{
    line-height: 40px;
}
.chem{
    height: 400px;
    object-fit: contain;
}

.container-carwash{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}