.carwash{
    z-index:0;
    background-color:#DFEAF4;
    padding: 20px;
    padding-bottom: 100px;
}

.carwash-container{
    position: relative;
    z-index: 3;
}
.carwash-heading{  
 font-family: Source Serif Pro;
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 70px;
text-align: center;
padding: 2rem;
margin-top: 2rem;
color: #000000;
}

.text-container-white{
    position: inherit;
    z-index: 3;
    background-color: white;
    height: 336px;
    width: 372px;
    padding: 24px;
    padding-right: 33px;
    padding-left: 45px;
    display: flex;
    align-items: center;
}

#Bg{
    position: absolute;
    top: 128%;
    left: 35%;
    z-index: 0;
    font-size: 500px;
    color: #f6f6f6;
}
.info{
font-family: Source Sans Pro;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 200%;
color: #696969;
}
.chem{
    position: relative;
    z-index: 3;
    height: 400px;
    object-fit: contain;
}

.container-carwash{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}