.checkout-heading{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 
 .checkout-container{
     background-color: white;
   
 }
 
 .checkout-section{
     display: flex;
    border-bottom: grey 1px dotted;
    padding: 20px;
 }
 
 .checkout-title{
     padding: 20px;
     flex: 0.2;
 }
 
.checkout-des{
    display: flex;
    align-items: center;
}

.checkout-items{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
 