.detail-card{
display: flex;
/* justify-content: flex-end; */
margin-bottom: 0.7rem;

}
/* #checkoutBtn{
    width: 100%;
} */

.right{
    margin-left: auto;
}
.detail-container{
    margin: 1rem;
}



