.landing-page{
    height: 100vh;
    display: flex;
    background-size: contain;
    align-items: center;
    flex-wrap: wrap;
   justify-content: space-between;
position: relative;
   
}
.text-container{
position: absolute;
width: 273px;
height: 140px;
left: 583px;
top: 299px;
}
.tagline{
font-family: Source Serif Pro;
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 70px;
text-align: center;

color: #FFFFFF;

}

.explore-btn{
    height: 46px;
    width: 150px;
    background-color: rgba(16, 8, 0, 1);
    color: white;
    box-shadow: none;
    text-align: center;
    position: relative;
    left: 22%;
    border: none;
    padding :20px 38px 20px 38px;
    text-decoration: none;
    font-family: "Source Sans Pro";
}

.explore-btn:hover{
    /* transform: scale(1.1); */
    transition: ease-in-out 0.4s;
    color: #fff;
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
}

.slideshow{
  
   background-color: black;
   
   display: flex;
   align-items: center;
  
   z-index: -1;
   top: 0%;
    
}

.text-container, .slideshow{
    position: absolute;
}
