.landing-page{
    height: 100vh;
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   justify-content: space-between;
position: relative;

 
   
}
.text-container{
    padding: 30px;
   
    position: relative;
    z-index: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tagline{
    font-family: 'Source Serif Pro';
    font-size: 56px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    line-height: 80px;
    text-align: center;
    
}

.explore-btn{
    margin-top: 29px;
    height: 46px;
    width: 150px;
    background-color: rgba(16, 8, 0, 1);
    outline: none;
    color: white;
    border: none;
}

.explore-btn:hover{
    transform: scale(1.1);
    transition: ease-in-out 200ms;
}

.slideshow{
  
   background-color: black;
   
   display: flex;
   align-items: center;
  
   z-index: -1;
   top: 0%;
    
}

.text-container, .slideshow{
    position: absolute;
}

.explore-btn:hover{
    /* transform: scale(1.1); */
    transition: ease-in-out 0.4s;
    color: #fff;
   
    border: 2px solid rgb(0, 0, 0);
}

@media only screen and (max-width: 1000px) {
    .landing-page{
        height: 50vh;
    }
    .text-container{
        transform: scale(0.5);
    }
  }