.monthly-page{
    position: relative;
    z-index: 3;
    padding: 30px;
    text-align: center;
    background-color: #DFEAF4
}


.monthly-deals{
    position: relative;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}


.deal>p{
    cursor: pointer;
}
#best{
    position: absolute;
    font-size: 500px;
    top: 30.5%;
    left: -22%;
    color: #f6f6f6;
    z-index: 0;
}

.car-img{
    height: 339px;
    object-fit: contain;
}
.deal{
    margin: 5px;
}

.car-name{
    font-family: 'Source Sans Pro';
    font-size: 24px;
    font-weight: 600;
    color: rgba(132, 132, 132, 1);
    margin-top: 28px;
    margin-bottom: 16px;
}

.deal>h3{
    margin-bottom: 10px;
}

.monthly-headings>h1{
    font-family: 'Source Serif Pro';
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 15px;
}
.monthly-headings>p{
    font-family: 'Source Sans Pro';
font-size: 24px;
font-weight: 300;
color: rgba(105, 105, 105, 1);
line-height: 35px;
margin-bottom: 50px;
}

.monthly-heading-container{
    display: flex;
    justify-content: space-between;
    padding-right: 121px;
    padding-left: 121px;
}

button{
    height: 52px;
    width: 217px;
    font-size: large;
    background-color: rgba(16, 8, 0, 1);
    color: white;
    outline: none;
    border: none;
    padding-top: 1rem;
    padding-bottom:1rem ;
}

button:hover{
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    transition: 200ms ease-in-out;
}