

body{
    font-family: Nexa;
    overflow-x: hidden;
}
.navbar{
    padding: 0.4rem;
    height: 4rem;
    width: 100vw;
    display: flex;
    z-index: 100;
    padding: 0;
    font-family: "Nexa";
    letter-spacing: 1px;
    font-weight: 300;
    color: rgb(27, 27, 27);
    position: fixed;
    top: 0%;
    transition: 200ms ease-in-out;
}

.nav_black{
    background-color: rgba(0, 0, 0, 0.705);
    color: rgb(233, 233, 233);
}

.a-white{
    color: white;
}
/*Styling logo*/
.logo{
   object-fit: contain;
   transform: scale(2);
   padding-left: 0.2rem;
   
  
}
.logo_div{
    display: flex;
    align-items: center;
    padding-left: 2rem;
   
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    margin-left: 8rem;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    align-items: center;
    text-transform: uppercase;
    text-align: right;
    
}


.nav-links li a{
/* font-family: Source Sans Pro; */
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
padding: 0.5rem 1rem 0.5rem 1rem;
text-transform: uppercase;
text-decoration: none;
color: #696969;
}
.nav-links li a:hover {
    color: rgb(230, 230, 230);
}
.nav-links li {
    margin: 28px;
    position: relative;
}
.nav-links li a::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #c7c7c7;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 3% 0 0 10%;
}
.nav-links li a:hover::after{
    width: 80%;
}


/*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #c7c7c7;
    border: 1.5px solid #c7c7c7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
    
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3000;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #000000;;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

li .cart-logo{
    list-style: none;
    text-align: right;
    margin-left: auto;
}

.login-link{
    text-align: center;
}

.header_option{
    margin-right: 15px;
   display: flex;
    flex-direction: column;
}